.upper-destinations {
    height: 400px;
}

.faroe {
    background-image: url("https://images.pexels.com/photos/5656685/pexels-photo-5656685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nepal {
    background-image: url("https://images.pexels.com/photos/14873527/pexels-photo-14873527.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.middle-destinations {
    height: 400px;
}

.india {
    background-image: url("https://images.pexels.com/photos/5202163/pexels-photo-5202163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.iceland {
    background-image: url("https://images.pexels.com/photos/5111044/pexels-photo-5111044.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lower-destinations {
    height: 400px;
}

.kamchatka {
    background-image: url("https://images.pexels.com/photos/8922564/pexels-photo-8922564.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mongolia {
    background-image: url("https://images.pexels.com/photos/5110939/pexels-photo-5110939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}