.start-block {
    height: 500px;
    background-image: url("https://images.pexels.com/photos/5273592/pexels-photo-5273592.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-start-block {
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    text-decoration: underline 10px;
    text-underline-offset: 20px; 
}

.description-start-block {
    font-family: 'Comfortaa', cursive;
}